@import 'preset.css';

body{
	overflow-x: hidden;
	overflow-y: scroll;
}
.Block-top{
	width: 100vw;
	padding: 1vh 0vw;
	background-color: var(--none);
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 2;
	backdrop-filter: blur(2px);
}
	.certerTop{
		width: 90vw;
		justify-content: space-between;
		align-items: center;
	}
		.FastAcess{
			width: 68vw;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}
			.FastAcess .topicOne{
				width: 13vw;
				background-color: rgba(2 64 89 / 70%);
				border-radius: 0.5vw;
				font-size: 2vh;
				font-weight: normal;
			}
		.logoTop{
			height: 6vh;
			width: 6vh;
			background-image: url('shortlogo.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.MenuBar{
			background: var(--none);
			border: none;
			color: var(--corE);
			font-size: 4vh;
		}
			.MenuBar:hover{
				cursor: pointer;
				font-size: 5vh;
			}
			.MenuBar:active{
				cursor: grabbing;
				font-size: 3vh;
			}
.Block-One{
	height: 130vh;
	width: 100vw;
	flex-direction: column;
	background-color: var(--corB);
	background-image: url('fundoMangaSet0.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}
	.BigBlockOne{
		height: 90vh;
		width: 100vw;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: rgba(0 0 0 / 10%);
		backdrop-filter: blur(3px);
	}
		.textOne{
			width: 23vw;
			height: 40vh;
			flex-direction: column;
			align-items: self-start;
			justify-content: space-around;
		}
			.topicOne{
				background-color: var(--none);
				border: none;
				color: var(--corD);
				font-family: monospace;
				font-weight: bold;
				font-size: 2.5vh;
				padding: 1vh 0vw;
				text-align: center;
			}
				.topicOne:hover{
					cursor: pointer;
					border-bottom: 3px solid var(--corC);
				}
				.topicOne:active{
					cursor: grabbing;
					background-color: var(--corC);
					padding: 1vh;
					border-radius: 0.2vw;
				}
		.text2One{
			width: 40vw;
			height: 50vh;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('logo.png');
		}
	.shortBlockOne{
		width: 100vw;
		height: 40vh;
		align-items: self-start;
		justify-content: space-around;
		background-color: rgba(0 0 0 / 10%);
		backdrop-filter: blur(3px);
	}
		.cardTextOne{
			height: 48vh;
			align-items: flex-start;
			justify-content: space-around;
			flex-direction: column;
			width: 19vw;
		}
			.iconShort0{
				background-color: var(--corC);
				color: var(--corB);
				padding: 1vh;
				font-size: 5vh;
				border-radius: 0.5vw;
			}
			.palagrafyOne{
				height: 36vh;
				width: 100%;
				color: var(--corC);
				font-size: 2.5vh;
				font-family: monospace;
				font-style: italic;
				word-wrap: break-word;
				text-align: left;
			}
.LeftMenu{
	position: fixed;
	height: 100vh;
	width: 40vw;
	display: none;
	flex-direction: column;
	background-color: var(--corC);
	z-index: 3;
	border-right: 3px solid black;
	box-shadow: 48vw 0px 0px 12vw rgb(11 26 28 / 42%);
	align-items: center;
}
	.exitLeftMenu{
		color: var(--corC);
		font-size: 5vh;
		position: absolute;
		margin: 3vh 0vw 0vh 47vw;
		background-color: var(--corB);
		border-radius: 50px;
	}
		.exitLeftMenu:hover{
			cursor: pointer;
			border: 1px solid black;
		}
		.exitLeftMenu:active{
			cursor: grabbing;
			font-size: 4vh;
		}
.Block-Two{
	flex-direction: row;
	width: 80vw;
	padding: 9vh 10vw;
	height: 80vh;
	align-items: center;
	justify-content: center;
}
	.meioBlock2{
		width: 55%;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		height: 100%;
	}
		.textBlock2{
			height: 28vh;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 100%;
			background-color: var(--corE);
		}
			.textBlock2 h2{
				font-size: 4vh;
				font-family: system-ui;
				color: var(--corB);
				width: 50%;
				text-align: center;
				font-weight: bold;
				font-style: italic;
			}
			.textBlock2 p{
				width: 40%;
				padding: 3% 10%;
				font-family: monospace;
				font-weight: bold;
				font-size: 2vh;
			}
		.imgReprBlock2{
			height: 52vh;
			width: 100%;
		}
		.blockIconBlock2{
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 6vh;
			width: 50%;
			font-family: monospace;
			color: var(--corC);
			height: 100%;
		}
			.cor2-Block2{
				background-color: var(--corB);
				color: var(--corA);
			}
.Block-Tre{
	background-image: url('fundoSet1.jpg');
	padding: 15vh 0vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
	.cardMost-tre{
		flex-wrap: wrap;
		justify-content: center;
		width: 70vw;
	}
		.cardTre{
			background-color: rgb(242 184 133 / 90%);
			padding: 2vh;
			width: 18vw;
			height: 26vh;
			margin: 0vh 2vw 2vh 0vw;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
		}
			.cardTre i{
				background-color: var(--corC);
				padding: 2vh;
				color: var(--corB);
				font-size: 5vh;
				border-radius: 5vw;
				margin-right: 13px;
			}
			.cardTextTre{
				word-wrap: break-word;
				font-size: 2vh;
				font-family: monospace;
				color: var(--corB);
				font-style: italic;
			}
				.cardTextTre label{
					font-weight: bold;
					font-size: 3vh;
					font-family: system-ui;
					font-style: normal;
				}
.textBlock4{
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--corE);
}	
	.BtnEntrarBlock4{
		background-color: var(--none);
		margin-top: 4vh;
		padding: 1vw;
		width: 16vw;
		color: var(--corC);
		font-size: 3vh;
		font-weight: bold;
		font-family: monospace;
		border: none;
		border-bottom: 3px solid var(--corC);
	}
		.cssBlock4{
			color: var(--corA);
			border-bottom-color: var(--corA);
		}
		.BtnEntrarBlock4:hover{
			cursor: pointer;
			width: 20vw;
		}
		.BtnEntrarBlock4:active{
			cursor: grabbing;
			width: 14vw;
		}
	.cor2-Block4{
		width: 100%;
	}
.Block-Five{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 60vh;
	padding: 5vh 0vw;
	background-color: var(--corA);
}
	.centerBlock5{
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 80vw;
		height: 56vh;
	}
		.TextBlock5{
			flex-direction: column;
			align-items: self-start;
			justify-content: start;
			color: var(--corE);
			font-size: 2vh;
			font-family: monospace;
			font-style: italic;
			width: 40%;
			height: 100%;
		}
			.TextBlock5 h3{
				font-family: system-ui;
				font-weight: bold;
				font-size: 5vh;
				font-style: normal;
			}
			.TextBlock5 p{
				margin-top: 2vh;
				width: 80%;
				word-break: break-word;
				text-align: center;
			}
		.developerBlock5{
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			width: 60%;
			height: 100%;
			background-color: var(--corD);
		}
			.perfilBlock5{
				height: 27vh;
				border-radius: 50vw;
			}
			.lbBlock5{
				font-size: 4vh;
				color: var(--corB);
				font-weight: bold;
				font-family: monospace;
			}
			.linksBlock5{
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 63%;
			}
				.linkRedrect{
					text-decoration: none;
					background-color: var(--corC);
					color: var(--corE);
					padding: 1vh;
					border-radius: 0.1vw;
					font-size: 2vh;
					font-style: italic;
					font-weight: bold;
					font-family: monospace;
				}
					.linkRedrect:hover{
						cursor: pointer;
						border: 3px solid var(--corA);
						font-size: 2.5vh;
					}
					.linkRedrect:active{
						cursor: grabbing;
						font-size: 1.5vh;
						filter: grayscale(50%);
					}
.BlockSex{
	flex-direction: column;
	background-color: var(--corC);
	height: 70vh;
	padding: 10vh 0vw;
	align-items: center;
	justify-content: center;
}
	.title6{
		color: var(--corA);
		margin-top: -6vh;
		font-family: monospace;
		font-weight: bold;
		font-size: 6vh;
	}
	.subtitle6{
		color: var(--corB);
		margin-bottom: 2vh;
		font-size: 2vh;
		font-style: italic;
	}
	.gridBlock5{
		flex-wrap: wrap;
		height: 100%;
		width: 80vw;
		justify-content: center;
	}
		.cardGridBlock5{
			height: 31vh;
			width: 22vw;
			margin-right: 3vw;
			border-radius: 0.2vw;
			padding: 1vw;
			margin-bottom: 2vh;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			font-size: 2vh;
			font-family: monospace;
			font-style: italic;
			background-color: var(--corC);
			color: var(--corD);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-blend-mode: multiply;
		}
			.cardGridBlock5:hover{
				cursor: pointer;
			}
			.cardGridBlock5 h2, .cardGridBlock5 p{
				display: none;
			}
			.cardGridBlock5:hover h2, .cardGridBlock5:hover p{
				display: flex;
			}
			.type2CardBlock6{
				background-color: var(--corB);
				color: var(--corE);
			}
			.type3CardBlock6{
				background-color: var(--corC);
				color: var(--corD);
				border: 3px solid var(--corD);
			}
			.type4CardBlock6{
				background-color: var(--corD);
				color: var(--corB);
				background-blend-mode: overlay;
			}
			.titleBlc5{
				font-size: 3.5vh;
				font-weight: bold;
			}
			.iconBlck5{
				font-size: 10vh;
				align-self: center;
				background-color: var(--corC);
				padding: 1vh;
				border-radius: 0.55vw;
				margin-top: 6vh;
			}
@media only screen and (max-width: 400px){
	.MenuBar{
		background: red;
	}
}